<link href="~/css/page-top-padding.css" rel="stylesheet">

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center page-start">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/img/portfolio/finances.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/img/portfolio/bug_tracker_logo_1074.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/img/portfolio/car_finder_1074.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/img/portfolio/blog-icon_1074.jpg" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/img/portfolio/javascript-900.png" class="img-responsive" alt="">
                </a>
            </div>
            
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/img/portfolio/einstein-900.png" class="img-responsive" alt="">
                </a>
            </div>
            
            @*<div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/img/portfolio/bookshelf-900.png" class="img-responsive" alt="">
                </a>
            </div>*@
            @*<div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="~/img/portfolio/site-management-900.png" class="img-responsive" alt="">
                </a>
            </div>*@
        </div>
    </div>
</section>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Budgeter</h2>
                        <hr class="star-primary">
                        <img src="~/img/portfolio/finances.png" class="img-responsive img-centered" alt="">
                        <p>Developed Budgeter household finances application. Users can create monthly budgets and track income and expense transactions. Charts on dashboard compare budget and spending across categories.</p><p><strong><a href="http://aarrigucci-budgeter.azurewebsites.net/" target="_blank">View project</a></strong></p>
                        <ul class="list-inline item-details">
                            <li>
                                Date:
                                <strong>
                                    September 2016
                                </strong>
                            </li>
                            <li>
                                Languages/frameworks used:
                                <strong>
                                    ASP.NET MVC with partial views, C#, LINQ, SQL Server, AJAX, JSON, HTML, CSS, morris.js charts
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Bug Tracker</h2>
                        <hr class="star-primary">
                        <img src="~/img/portfolio/bug_tracker_logo.png" class="img-responsive img-centered" alt="">
                        <p>Developed Bug Tracker application to track errors in software. Bug Tracker uses a ticketing system to record bugs on a per-project basis. It implements user- and role-level security.</p><p><strong><a href="http://aarrigucci-bugtracker.azurewebsites.net/" target="_blank">View project</a></strong></p>
                        <ul class="list-inline item-details">
                            <li>
                                Date:
                                <strong>
                                    August 2016
                                </strong>
                            </li>
                            <li>
                                Languages/frameworks used:
                                <strong>
                                    ASP.NET MVC, C#, LINQ, SQL Server, HTML, CSS, Bootstrap, SendGrid API
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Car Finder</h2>
                        <hr class="star-primary">
                        <img src="~/img/portfolio/car_finder_1074.png" class="img-responsive img-centered" alt="">
                        <p>Created an application to display recall information for a selected car model. Car Finder uses ASP.NET Web API to interface with NHTSA.gov and Bing APIs.</p><p><strong><a href="http://annettearrigucci.com/car-finder/" target="_blank">View project</a></strong></p>
                        <ul class="list-inline item-details">
                            <li>
                                Date:
                                <strong>
                                    October 2016
                                </strong>
                            </li>
                            <li>
                                Languages/frameworks used:
                                <strong>
                                    AngularJS, ASP.NET Web API, SQL Server stored procedures, C#, HTML, CSS
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Personal Blog</h2>
                        <hr class="star-primary">
                        <img src="~/img/portfolio/blog-icon.jpg" class="img-responsive img-centered" alt="">
                        <p>Created personal blog to create, edit and delete posts and moderate comments on posts. Blog displays summary of posts as well as individual posts. Users can create local accounts or log in with a third-party service to add comments.</p><p><strong><a href="https://aarrigucci.azurewebsites.net/BlogPosts">View project</a></strong></p>
                        <ul class="list-inline item-details">
                            <li>
                                Date:
                                <strong>
                                    July-August 2016
                                </strong>
                            </li>
                            <li>
                                Languages/frameworks used:
                                <strong>
                                    ASP.NET MVC, C#, LINQ, SQL Server, HTML, CSS, Bootstrap
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>JavaScript exercises</h2>
                        <hr class="star-primary">
                        <img src="~/img/portfolio/javascript-900.png" class="img-responsive img-centered" alt="">
                        <p>Completed a series of four JavaScript exercises including array math functions, factorial, FizzBuzz problem and a palindrome checker.</p><p><strong><a href="http://aarrigucci.azurewebsites.net/Home/Exercises">View project</a></strong></p>
                        <ul class="list-inline item-details">
                            <li>
                                Date:
                                <strong>
                                    July 2016
                                </strong>
                            </li>
                            <li>
                                Languages/frameworks used:
                                <strong>
                                    JavaScript, HTML, CSS
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Wikipedia Photo Finder</h2>
                        <hr class="star-primary">
                        <img src="~/img/portfolio/einstein-900.png" class="img-responsive img-centered" alt="">
                        <p>Created a website that uses jQuery API functions to return and display photos from Wikipedia topic pages.</p><p><strong><a href="http://www.annettearrigucci.com/wikipedia-photo-finder/" target="_blank">View project</a></strong></p>
                        <ul class="list-inline item-details">
                            <li>
                                Date:
                                <strong>
                                    July 2016
                                </strong>
                            </li>
                            <li>
                                Languages/frameworks used:
                                <strong>
                                    jQuery, JavaScript, JSON, HTML, CSS
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@*<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Shopping List App</h2>
                        <hr class="star-primary">
                        <img src="~/img/portfolio/shopping-list-900.png" class="img-responsive img-centered" alt="">
                        <p>Created a lightweight shopping list app that lets a user quickly add, check off and delete items on a shopping list.</p><p><strong><a href="https://annette-arrigucci.github.io/shopping-list/index.html" target="_blank">View project</a></strong></p>
                        <ul class="list-inline item-details">
                            <li>
                                Date:
                                <strong>
                                    June 2016
                                </strong>
                            </li>
                            <li>
                                Languages/frameworks used:
                                <strong>
                                    jQuery, HTML, CSS
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@



@*<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Sports scores forms</h2>
                        <hr class="star-primary">
                        <img src="~/img/portfolio/sports-scores-900.png" class="img-responsive img-centered" alt="">
                        <p>Created several online high school scores submission forms for the Augusta Chronicle newspaper, resulting in several fewer hours a week spent on phone calls.</p><p><strong><a href="http://chronicle.augusta.com/yourscores" target="_blank">View project</a></strong></p>
                        <ul class="list-inline item-details">
                            <li>
                                Date:
                                <strong>
                                    March 2016
                                </strong>
                            </li>
                            <li>
                                Languages/frameworks used:
                                <strong>
                                    Caspio forms tool
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
@*<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Bookshelf Blog</h2>
                        <hr class="star-primary">
                        <img src="~/img/portfolio/bookshelf-900.png" class="img-responsive img-centered" alt="">
                        <p>Created a bookshelf blog that allows users to record details about books they have read. Posts are searchable by title, author, genre, year of publication and date of entry. The site also includes an admin panel to add new users and create, update or delete posts.</p><p><strong><a href="http://annettearrigucci.com/bookshelf/" target="_blank">View project</a></strong></p>
                        <ul class="list-inline item-details">
                            <li>
                                Date:
                                <strong>
                                    November 2015
                                </strong>
                            </li>
                            <li>
                                Languages/frameworks used:
                                <strong>
                                    PHP, SQL, HTML, CSS
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
@*<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Website Management</h2>
                        <hr class="star-primary">
                        <img src="~/img/portfolio/site-management-900.png" class="img-responsive img-centered" alt="">
                        <p>Managed web content production for six years, including two years managing the El Paso Times website, mobile site and mobile apps, which averaged around 10 million page views per month combined.</p>
                        <ul class="list-inline item-details">
                            <li>
                                Date:
                                <strong>
                                    June 2008-January 2015
                                </strong>
                            </li>
                            <li>
                                Languages/frameworks used:
                                <strong>
                                 Custom content management system, WordPress, HTML, web analytics portals including Omniture 
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@